#main {
    list-style-type: upper-roman;
}

.first.nested{
    list-style-type: lower-latin;
}

.second.nested{
    list-style-type: decimal;
}

.deepest-nested {
    list-style-type: circle
}

ol li ul {
    list-style-type: disc;
    
}