 <html>
<head>
    <title>My Web Server</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <h1>Welcome to the server</h1>
    <ul>
        <li>
            <a href="/Animals/Cats?name=sand&age=39">Cats</a>        
            <a href="/Animals/Dogs">Dogs</a>
        </li>
    </ul>


    @RenderBody()

    <img src="/img/cat.jpg" />
    <div>Footer</div>
</body>
</html>