body div {
    max-width:300px;
    margin: auto;
    height: 300px;
    width: 60%;
    background-color: rgba(226, 226, 228, 0.363);
}

body h3 {
    text-align: center;  
    padding: 20px 10px; 
}



body div ol li {
    margin-bottom: 3px;    
    border-bottom: 1px solid black;
    display: inline-block
}
