@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

html {
    font-family: Helvetica, sans-serif;
}

body {
    background-color:rgb(251, 251, 251);
    margin: 20px 20px 2px 50px;
}

h2 {
    margin-top: 50px;
}

 .button {
    border:3px solid black;
    border-radius: 20px;
    padding: 5px 20px 5px 20px; 
    margin-right: 20px;   
    color:rgb(251, 251, 251);
    background-color: black;
    cursor: pointer;
}

button {
    padding: 9px 12px;
}

.hover:hover{
    border:2px solid rgb(0, 102, 0);
    background-color:rgb(0, 102, 0);    
}

div:first-of-type .button {
    color: black;
    background-color: rgb(251, 251, 251);
    
}

.hover:first-child:hover{
    color: rgb(0, 102, 0);
}

i {
    width: 10px;
    padding-right: 2px;
    font-size: 12px;    
}
 
